@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-black text-text;
  }
  :root {
    --color-primary: theme("colors.primary.DEFAULT");
    --color-text: theme("colors.text");
  }
}
